* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 600px;
  position: relative;
  height: 600px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 14px;
  background-color: aliceblue;
}

.boxes {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.X,
.O {
  position: relative;
  width: 75%;
  height: 75%;
}

.O {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 32, 225);
}

.O .innerO {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #212121;
}

.X {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.X > * {
  position: absolute;
  width: 125%;
  height: 15px;
  border-radius: 3px;
  background-color: #fa0000;
}

.cross1 {
  transform: rotate(45deg);
}

.cross2 {
  transform: rotate(-45deg);
}

.result {
  font-size: 2.5rem;
  color: antiquewhite;
  margin-top: 30px;
}

.win-line {
  position: absolute;
  z-index: 100;
  width: 90%;
  height: 15px;
  background-color: #fa0000;
}
